# Gradle-related files
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore build directories except source files
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite (STS) related files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA related files
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans related files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code related files
.vscode/

# Miscellaneous
*.log
*.swp
*.swo
.DS_Store
Thumbs.db
