# Ignore build files
build/
!build/libs/
target/
.gradle/
.mvn/

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore log files
*.log

# Ignore test files
src/test/

# Ignore temporary files
*.tmp
*.swp

# Ignore local environment files
.env
