<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply for Job</title>
	<link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
    
</head>
<body>
	
	<!-- Navigation Bar -->
	<header th:replace="~{fragments/nav :: nav}"></header>
	<!-- Display Error Message -->
	<div th:if="${errorMessage}" class="alert alert-danger">
	    <p th:text="${errorMessage}"></p>
	</div>
	
    <div class="form-container">
        <h1>Apply for <span th:text="${jobPost.title}"></span></h1>
        <form th:action="@{/applications/applyBy/{jobSeekerId}/to/{jobId}/{employerId}
		(jobSeekerId=${jobSeeker.jobSeekerId},jobId=${jobPost.jobId},employerId=${jobPost.employer.employerId})}"
			 method="post" enctype="multipart/form-data" th:object="${jobSeekerDTO}" class="form-register" id="applicationForm">
            <!-- Job Seeker Details -->
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="fullName" th:value="${jobSeekerDTO.fullName}"  />
				<span id="nameError" class="error"></span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:value="${jobSeekerDTO.email}" />
				<span id="emailError" class="error"></span>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number:</label>
                <input type="text" id="contactNumber" name="number" th:value="${jobSeekerDTO.number}"  />
				<span id="contactNumberError" class="error"></span>
            </div>
			
            <!-- File Uploads -->
            <div class="form-group">
                <label for="cv">Upload CV/Resume (PDF only):</label>
                <input type="file" id="cv" name="file" accept="application/pdf"  onchange="validateFileSize(this)"/>
				<span id="cvError" class="error"></span>
            </div>
			<!-- 
            <div class="form-group">
                <label for="image">Upload Profile Image (PNG/JPG only):</label>
                <input type="file" id="image" name="imagefile" accept=".png, .jpg, .jpeg, .webp" onchange="validateFileSize(this)" />
            </div>
			-->
			
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="buttonSmall">Apply</button>
            </div>
        </form>
    </div>
	
    <script th:src="@{/js/apply-validation.js}"></script>
</body>
</html>