<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
	<!-- Navigation Bar -->
	<header th:replace="~{fragments/nav :: nav}"></header>

    <!-- Main Profile Content -->
    <div class="profile-container">
		<h1>Profile: <span th:text="${jobSeeker.fullName}"></span></h1>
        <!-- Job Seeker Information -->
        <div class="profile-info">
            <p><strong>Job Seeker ID:</strong> <span th:text="${jobSeeker.jobSeekerId}"></span></p>
            <p><strong>Username:</strong> <span th:text="${jobSeeker.fullName}"></span></p>
            <p><strong>Email:</strong> <span th:text="${jobSeeker.users.email}"></span></p>
            <p><strong>Skills:</strong> <span th:text="${jobSeeker.skills}"></span></p>
            <p><strong>Contact Number:</strong> <span th:text="${jobSeeker.number}"></span></p>
            <p><strong>Created At:</strong> <span th:text="${jobSeeker.createdAt}"></span></p>		
        </div>
    </div>

</body>
</html>
