<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Job Applications</title>
	<link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}"></head>
<body>
	<!-- Navigation Bar -->
	<header th:replace="~{fragments/nav :: nav}"></header>

	
	<!-- Display Error Message -->
	<div th:if="${errorMessage}" class="alert alert-danger">
	    <p th:text="${errorMessage}"></p>
	</div>

	<!-- Display Success Message -->
	<div th:if="${successMessage}" class="alert alert-success">
	    <p th:text="${successMessage}"></p>
	</div>

	<div th:if="${#lists.isEmpty(allJobApplicants) and #lists.isEmpty(savedPosts)}">
		<h2>No applications found</h2>
	</div>

	  
    <main>
        <!-- Display applied job applications -->
        <div th:unless="${#lists.isEmpty(allJobApplicants)}">
			<h1>My All Job Applications</h1>
            <table>
                <thead>
                    <tr>
                        <th>Job Title</th>
						<th>View option </th>
                        <th>Applied At</th>
                        <th>Days Left</th> <!-- Days until the deadline -->
                        <th>Status</th>
						<th>Withdraw</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jobApplication, iterStat : ${allJobApplicants}">
						<td>
							<a th:href="@{/view/jobposts/details/{jobId}(jobId=${jobApplication.jobPosting.jobId})}" 
								th:text="${jobApplication.jobPosting.title}"></a>					
						</td>

						<td th:if="${jobApplication.filePath != null}">
							<a th:href="@{/view/application/file/{fileName}(fileName=${jobApplication.filePath})}" target="_blank">
							View File </a>
						</td>
						<!-- 
						<td th:if="${jobApplication.imagePath != null}">
							<a th:href="@{/view/application/file/{fileName}(fileName=${jobApplication.imagePath})}" target="_blank">
								<img th:src="@{/view/application/file/{fileName}(fileName=${jobApplication.imagePath})}" 
										alt="Job Application Image" 
										style="width: 90px; height: auto;" />
							</a>
						</td>
						-->
						<td th:text="${jobApplication.appliedAt}">JobPost appliedAt</td>
 						<td th:text="${applicationDeadline[iterStat.index]}" 
							th:if="${not #lists.isEmpty(applicationDeadline)}">Days Left</td>
						
						<td th:text="${jobApplication.applicationStatus}"></td>
						<!--- withdraw applications by jobseeker-->
						<td> 
							<form th:if="${jobApplication.jobSeeker.jobSeekerId != null}"
								th:action="@{/application/{applicationId}/withdraw-by/jobseeker/{jobSeekerId}/to-jobpost/{jobId}/of/{employerId}
								(applicationId =${jobApplication.applicationId},jobSeekerId=${jobApplication.jobSeeker.jobSeekerId},jobId=${jobApplication.jobPosting.jobId},employerId=${jobApplication.jobPosting.employer.employerId})}" 
									method="post"  class="form1">
									<input type="hidden" name="fromApplications" value="true">
								<button type="submit" class="button-green" 
									onclick="return confirmWithdraw()">Withdraw</button>
							</form>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Display saved job posts if they exist -->
        <div th:unless="${#lists.isEmpty(savedPosts)}">
			<h1>Saved Job Posts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Application Deadline</th>
						<th>Days left</th>
						<th>Options</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="savedPost,iterStat : ${savedPosts}">
						<td>
							<a th:href="@{/view/jobposts/details/{jobId}(jobId=${savedPost.jobPosting.jobId})}" 
								th:text="${savedPost.jobPosting.title}"></a>					
						</td>
						<td><a th:href="@{/view/employers/profile/{employerId}(employerId=${savedPost.jobPosting.employer.employerId})}" 
							th:text="${savedPost.jobPosting.employer.companyName}">Company Name</a>
						</td>
                        <td th:text="${savedPost.jobPosting.cityLocation}">Location</td>
                        <td th:text="${savedPost.jobPosting.jobType}">Job Type</td>
						<td th:if="${savedDeadline != null}" th:text="${savedPost.jobPosting.applicationDeadline}">Deadline</td>
						<td  th:if="${savedDeadline != null}" th:text="${savedDeadline[iterStat.index]}">days left</td>
						<td><!-- UnSave job Button -->
							<div th:if="${savedPost != null and savedPost.jobSeeker.jobSeekerId != null}">
								<div>
								<form th:action="@{/unsaveBy/jobSeeker/{jobSeekerId}/jobPost/{jobId}(jobSeekerId=${savedPost.jobSeeker.jobSeekerId},jobId=${savedPost.jobPosting.jobId})}" method="post" class="form2">
									<input type="hidden" name="fromApplications" value="true">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<button type="submit" class="button-green">UnSave job</button>
								</form>
								</div>
							</div>
						</td>
					</tr>
                </tbody>
            </table>
        </div>       
    </main>

	<script>
	    function confirmWithdraw() {
	        return confirm("Are you sure you want to withdraw your application?");
	    }
	</script>
</body>
</html>
