<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
   
    <nav>
         <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/employers/profile}">My Profile</a></li>
            <li><a th:href="@{/view/jobposts}">All Posts</a></li>
			<li><a th:href="@{/view/jobposts/self/{employerId}(employerId=${employer.employerId})}">My jobs</a></li>
			<li><a th:href="@{/view/applications/submittedto/employer/{employerId}(employerId=${employer.employerId})}">View Applicants</a></li>
			<li><a th:href="@{/jobposts/new/create}">Create Job Posts</a></li>
				<li>
					<form action="#" th:action="@{/logout}" method="post">
					    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					    <button type="submit">Logout</button>
					</form>
				</li>
         </ul>
	</nav>
		<div class="mainContainer">
		    <h1>Welcome, Employer!</h1>
			
			<p>User ID: <span th:text="${employer.users.userId}"></span></p>
		    <p>Company Name: <span th:text="${employer.companyName}"></span></p>
		    <p>Email: <span th:text="${employer.companyDescription}"></span></p>
			<p>Email: <span th:text="${employer.contactNumber}"></span></p>
			<p>Email: <span th:text="${employer.address}"></span></p>
			<p>Email: <span th:text="${employer.email}"></span></p>
			<p>Email: <span th:text="${employer.website}"></span></p>
			<p>Email: <span th:text="${employer.createdAt}"></span></p>

			
		    
		    <!-- Render list of job postings by the employer 
		    <h3>Your Job Postings</h3>
		    <ul>
		        <li th:each="job : ${employer.postedJobs}">
		            <span th:text="${job.title}"></span> at <span th:text="${job.company}"></span>
		        </li>
		    </ul>
			-->
</body>
</html>

