<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Postings</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Job Postings</h1>
	<!-- display message from SearchController -->
	<div th:if="${keyword}">
	    <h2 th:text="'Searching for::  '+ ${keyword}"></h2>
	    <!-- You can add code here to loop through and display search results -->
	</div>
	<!-- display jobseekerId if jobseeker is loggedin if not nothing happens-->
	<p th:if="${jobSeeker != null}" th:text=" ${jobSeeker.jobSeekerId} ">JobSeekerId</p>
	<p th:if="${jobSeeker == null}">No Job Seeker Logged In</p>

	<p th:if="${categoryName}" th:text="'Showing JobPosts of:: ' + ${categoryName} ">categoryName</p>

	<!-- if employer they can create jobPosts-->
    <a href="/jobposts/new/create">Create New Job Posting</a>
	<!-- display all lists of jobposts available-->
    <table>
        <thead>
            <tr>
                <th>employerId</th>
				<th>companyName</th>
                <th>jobId</th>
                <th>title</th>
                <th>location</th>
                <th>requirements</th>
                <th>jobDescription</th>
				<th>salaryRange</th>
				<th>category</th>
				<th>createdAt</th>
				<th>edit</th>
				<th>delete</th>
            </tr>
        </thead> 
        <tbody>
			<!-- displying all Lists  jobPostings -->
            <tr th:each="job : ${jobPosts}">
				<td th:text="${job.employer.employerId}"></td>
				<td th:text="${job.employer.companyName}"></td>				
				<td th:text="${job.jobId}"></td>
                <td th:text="${job.title}"></td>
                <td th:text="${job.cityLocation}"></td>
                <td th:text="${job.requirements}"></td>
                <td th:text="${job.jobDescription}"></td>
				<td th:text="${job.salaryRange}"></td>
				<td th:text="${job.jobCategory.categoryName}"></td>
				<td th:text="${job.createdAt}"></td>
				<td> 
					<!-- Thymeleaf’s URL Variable Substitution (Parameterized URL)-->
					<form th:action="@{/jobposts/{jobId}/edit/by/{companyName}(jobId=${job.jobId},companyName=${job.employer.companyName})}" method="get" style="display:inline;">
					    <!-- Uncomment if CSRF protection is needed -->
					    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
					    <button type="submit" class="btn btn-danger">EditByCompany</button>
					</form>
				</td>		
				<!-- Deletes any jobPost -->	
			<!--
				<td>
					<form th:action="@{/jobposts/{id}/delete(id=${job.jobId})}" method="post" style="display:inline;">
				    	  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			-->
				<td> 
					<form th:action="@{/jobposts/{jobId}/delete/byemployer(jobId=${job.jobId})}" method="post" style="display:inline;">
					    <!-- Uncomment if CSRF protection is needed -->
					    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
					    <button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
				<td> 
					<form th:action="@{/view/jobposts/details/{jobId}(jobId=${job.jobId})}" method="get" style="display:inline;">
						<!-- Uncomment if CSRF protection is needed -->
						<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
						<button type="submit" class="btn btn-danger">View</button>
					</form>
				</td>
				<!-- only display if jobSeeker object is not null-->
				<td>
					<form th:if="${jobSeeker != null}"
					th:action="@{/applications/applyBy/{jobSeekerId}/to/{jobId}/{companyName}(jobSeekerId=${jobSeeker.jobSeekerId},jobId=${job.jobId},companyName=${job.employer.companyName})}" method="post">
					    <!-- Uncomment if CSRF protection is needed -->
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					    <button type="submit">Apply</button>
					</form>
				</td>
				<!-- only display if jobSeeker object is not null-->
				<td>
					<form th:if="${jobSeeker != null}"
						th:action="@{/saveBy/jobSeeker/{jobSeekerId}/jobPost/{jobId}(jobSeekerId=${jobSeeker.jobSeekerId},jobId=${job.jobId})}" method="post">
						 <!-- Uncomment if CSRF protection is needed -->
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<button type="submit">Save job</button>
					</form>
				</td>			
            </tr>
        </tbody>
    </table>
</body>
</html>
