<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Seekers List</title>
</head>
<body>
    <h1>Job Seekers</h1>

    <div th:if="${jobseekers.isEmpty()}">
        <p>No job seekers found.</p>
    </div>
    
    <div th:unless="${jobseekers.isEmpty()}">
        <ul>
            <li th:each="jobSeeker : ${jobseekers}">
                <!-- Displaying only necessary details -->
                <p><strong>Username:</strong> <span th:text="${jobSeeker.jobSeekerUsername}">Username</span></p>
                <p><strong>Email:</strong> <span th:text="${jobSeeker.email}">Email</span></p>
                <p><strong>Skills:</strong> <span th:text="${jobSeeker.skills}">Skills</span></p>
				<p><a th:href="@{/view/jobseekers/profile/{jobSeekerId}(jobSeekerId=${jobseekers.users.userId})}">Visit profile</a></p>

				<hr>
            </li>
        </ul>
    </div>

</body>
</html>
