.job-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
	flex-basis: 100%;
}

.job-header a{
	color: #007BFF;
    text-decoration: none;
}

.job-header a:hover {
    color: #0056b3;
    text-decoration: none;
}

.deadline, .deadline1{
	font-style: italic;
	color: #666;
	margin-bottom: 10px;
	margin-left: 10px;
	flex-basis: auto;
    text-align: right;
}

.job-info {
	margin-bottom: 20px;
	border-bottom: 2px solid #eee;
}

.job-info-head{
	border-bottom: 2px solid #eee;

}
.job-info a{
    text-decoration: none;
}


@media (max-width: 768px) {
	.job-container {
        width: 95%;
        padding: 15px;
    }

	.job-header h1{
		font-size: 1.5em;
	}

	.deadline, .deadline1{
		text-align: left;
		flex-basis: 100%;
		margin-bottom: 5px;
        margin-left: 0;
	}

}

/* Modified CSS for Button Containers */

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;

}

.button-container form {
    margin: 0;
    display: inline-block;
}

/* Basic Styling for Buttons (adjust to match your design) */
.button-green, .buttonSmall {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}


.button-green {
    background-color: #4CAF50;
}

.buttonSmall {
    background-color: #007BFF;
}

.button-green:hover, .buttonSmall:hover {
    opacity: 0.8;
}


/* Responsive Behavior: Make buttons stack vertically on smaller screens if needed */
@media (max-width: 500px) {
    .button-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .button-container form {
        display: block;
    }
     .button-container button{
        width: 100%;
        margin-bottom: 5px;
    }
}