*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
    width: 100%;
	padding:12px;
}
.headtitle{
    flex-direction: column;
}

h2, h4{
	padding: 12px;
    text-align: center;
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: #007BFF;
    padding: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* form table */
.formtable{
	padding:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group, .pass-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    display: inline;
}

.pass-group input[type="password"]{
    width: 75%;
}
.pass-group input[type="text"]{
    width: 75%;
}

.passButton{
    display: inline;
    width: 20%;
    padding: 2%;
    outline: none;
    color: #4cae4c;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}
.passButton:hover{
    border: 1px solid #625050;
}

.spacebetn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
    font-size: 12px;
}

.button-type1 {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-type1:hover {
    background-color: #4cae4c;
}

#logoutButton {
    display: none;
    background-color: #dc3545;
}

#logoutButton:hover {
    background-color: #c82333;
}

.form-group input[type="text"]:focus,
.pass-group input[type="password"]:focus,
.pass-group input[type="text"]:focus{
    outline: none;
    border-color: #5cb85c;
}
