<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Applications for Employer's Job Posts</title>
	<link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	
</head>
<body>
	<!-- Navigation Bar -->
	<header th:replace="~{fragments/nav :: nav}"></header>
		
	<!-- Display Error Message -->
	<div th:if="${errorMessage}" class="alert alert-danger">
	    <p th:text="${errorMessage}"></p>
	</div>

	<!-- Display Success Message -->
	<div th:if="${successMessage}" class="alert alert-success">
	    <p th:text="${successMessage}"></p>
	</div>
	
    <h1>Applications Submitted to 
		<a th:href="@{/view/jobposts/details/{jobId}(jobId=${jobPost.jobId})}" 
									th:text="${jobPost.title}"></a>	
	</h1>

    <div th:if="${allJobApplications.isEmpty()}">
        <p>No applications found for your job posts.</p>
    </div>

    <div th:unless="${allJobApplications.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>Applicant name</th>
                    <th>email</th>
					<th>number</th>
					<th>View file</th>
                    <th>Status</th>
					<th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="jobApplication : ${allJobApplications}">
					<td>
						<a th:href="@{/view/jobseekers/profile/{jobSeekerId}(jobSeekerId=${jobApplication.jobSeeker.jobSeekerId})}" 
							th:text="${jobApplication.fullName}"></a>					
					</td>
					<td>
					    <a th:href="@{'mailto:' + ${jobApplication.email}}"
					       th:text="${jobApplication.email}">Send email</a>
					</td>
					<td>
					    <a th:href="@{'tel:' + ${jobApplication.number}}"
					       th:text="${jobApplication.number}">Call</a>
					</td>
					<td th:if="${jobApplication.filePath != null}">
					    <a th:href="@{/view/application/file/{fileName}(fileName=${jobApplication.filePath})}" target="_blank">
					    View File </a>
					</td>
					<!-- 
					<td th:if="${jobApplication.imageName != null}">
						<a th:href="@{/view/application/file/{fileName}(fileName=${jobApplication.imagePath})}" target="_blank">
							<img th:src="@{/view/application/file/{fileName}(fileName=${jobApplication.imagePath})}" 
									alt="Job Application Image" 
									style="width: 90px; height: auto;" />
						</a>
					</td>
					-->
                    <td th:text="${jobApplication.applicationStatus}">Application Status</td>
                    <!-- Change or updating statuts of jobApplication -->
					<td>
						<form th:action="@{/application/submittedto/employer/{employerId}/statusUpdate/{applicationId}(employerId=${jobApplication.employer.employerId},applicationId=${jobApplication.applicationId})}" method="post">
							
							<select name="applicationStatus">
                                <option value="Pending" th:selected="${jobApplication.applicationStatus == 'Pending'}">Pending</option>
                                <option value="Reviewed" th:selected="${jobApplication.applicationStatus == 'Reviewed'}">Reviewed</option>
                                <option value="Accepted" th:selected="${jobApplication.applicationStatus == 'Accepted'}">Accepted</option>
                                <option value="Rejected" th:selected="${jobApplication.applicationStatus == 'Rejected'}">Rejected</option>
                            </select>
                            <button type="submit">Update Status</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
