<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job seeker form</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
    <div class="mainContainer">
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/jobseekers/register}">Register as Job Seeker</a></li>
                <li><a th:href="@{/employers/register}">Register as Employer</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    <div class="headtitle">
        <h2>Get started with Us</h2>
        <h4>JobSeeker Registration</h4>
    </div>
    <div class="formtable">
        <form th:action="@{/jobseekers/register}" method="post" id="registrationForm">
            <div class="form-group">
				
                <label for="name">Name:</label>
                <input type="text" name="username" id="name" placeholder="Enter your name" th:value="${job_username}">
                <span id="nameError" class="error"></span>
				<p th:if="${error?.username != null}">
					<!--if there is no username in register table it wiil show error -->
					<span th:text="${error.username}" class="error"></span>
				</p>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="example@example.com" th:value="${job_email}">
                <span id="emailError" class="error"></span>
					<p th:if="${error?.email != null}">
						<!--if there is no email in register table it wiil show error -->
						<span th:text="${error.email}" class="error"></span>
					</p>
            </div>

            <div class="form-group">
                <label for="number">Number:</label>
                <input type="number" name="number" id="number" placeholder="987653210" value="987653210" th:value="${job_number}">
                <span id="numberError" class="error"></span>
            </div>
			
            <div  class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" value="password">
                <span id="passwordError" class="error"></span>
            </div>

            <div class="form-group">
                    <label for="confirmpassword">Password:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword"  placeholder="Confirm your password" value="password">
                    <span id="confirmpasswordError" class="error"></span>

            </div>

            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type="radio" id="gender" name="genderGroup" value="male" checked> Male
                <input type="radio" id="gender" name="genderGroup" value="female"> Female
                <input type="radio" id="gender" name="genderGroup" value="others"> Others
				<div id="genderError" class="error"></div>
			</div>
			
			<div  class="form-group">
			    <label for="address">Address:</label>
			    <input type="text" name="address" id="address" placeholder="Enter your full address" value="Nepal">
			    <span id="addressError" class="error"></span>
			</div>
			<div  class="form-group">
				    <label for="skills">Skills:</label>
				    <input type="text" name="skills" id="skills" placeholder="Skill name" value="frontend">
				    <span id="skillsError" class="error"></span>
				</div>
			<div>
				 <label for="usertype">Usertype:</label>
				 <input type="hidden" name="usertype" id="usertype"  value="JOBSEEKER">
			</div>

s
            <div class="form-group">
                <label for="terms">Terms and conditoins:</label><br>
                <input type="checkbox" id="terms" name="terms" checked> I accept all the  
                <a th:href="@{/}">terms and conditions</a>
				<div id="termsError" class="error"></div>
            </div>

            <div class="form-group"><button type="submit">Register</button></div>
            
            <div class="form-group"> Already have an account <a th:href="@{/login}">Log in</a></div>
        </form>
    </div>
</div>
    <script th:src="@{/js/jobvalidate.js}"></script>
</body>
</html>
