<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Postings</title>
    <link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
    <link rel="stylesheet" th:href="@{/css/post-style.css}">
</head>
<body>
    <!-- Navigation Bar -->
    <header th:replace="~{fragments/nav :: nav}"></header>

    <div class="main-container">

		<!-- Display Error Message -->
		<div th:if="${errorMessage}" class="alert alert-danger">
		    <p th:text="${errorMessage}"></p>
		</div>
		
        <!-- Display message from SearchController -->
        <div th:if="${keyword}">
            <h2 th:text="'Searching for: ' + ${keyword}"></h2>
        </div>

        <p th:if="${filterName != null}" th:text="'Showing JobPosts of: ' + ${filterName}"></p>
        <p th:if="${totalPosts != null}" th:text="'Total Posts: ' + ${totalPosts}"></p>

        <!-- Job Posts Section -->
        <div class="job-posts">
            <h1>Job Posts</h1>
            <div th:if="${jobPosts.isEmpty()}">
                <p>No job posts available.</p>
            </div>

            <div th:unless="${jobPosts.isEmpty()}">
                <div class="job-post-grid">
                    <div th:each="jobPost : ${jobPosts}" class="job-post">
						<div class="job-info">
							
							<div class="truncate-text"><strong>Company Name:</strong>
								<span><a th:href="@{/view/jobposts/{jobId}/of/employer/{employerId}(jobId=${jobPost.jobId},employerId=${jobPost.employer.employerId})}" th:text="${jobPost.employer.companyName}" class="truncate-text"></a></span>
							</div>
							<div class="truncate-text"><strong>Title:</strong>
								<span><a th:href="@{/view/jobposts/details/{jobId}(jobId=${jobPost.jobId})}" th:text="${jobPost.title}" class="truncate-text"></a></span>
							</div>
						    <div class="truncate-text"><strong>Requirements:</strong>
								 <span th:text="${jobPost.requirements}" class="truncate-text"></span>
							</div>
							<div class="truncate-text"><strong>Job Description:</strong>
								 <span th:text="${jobPost.jobDescription}" class="truncate-text"></span>
							</div>						    
							<div class="truncate-text"><strong>Salary Range:</strong>
								 <span th:text="${jobPost.salaryRange}" class="truncate-text"></span>
							</div>
							<strong>Category:</strong> <span th:text="${jobPost.jobCategory}"></span><br>
						    <strong>Location:</strong> <span th:text="${jobPost.cityLocation}"></span><br>
							<strong>Job Type:</strong> <span th:text="${jobPost.jobType}"></span><br>
						    <strong>Experience Level:</strong> <span th:text="${jobPost.experienceLevel}"></span><br>
							<strong>Application Deadline:</strong> <span th:text="${jobPost.applicationDeadline}"></span><br>
						</div>



                        <div class="job-actions">
                            <div style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: space-between;">
                                <!-- View Button -->
                                <form th:action="@{/view/jobposts/details/{jobId}(jobId=${jobPost.jobId})}" method="get" style="display:inline;">
                                    <button type="submit" class="buttonSmall">View</button>
                                </form>

                                <!-- Edit Button -->
                                <div th:if="${loggedInEmployer != null and loggedInEmployer.employerId == jobPost.employer.employerId}">
                                    <form th:action="@{/jobposts/{jobId}/edit/by/{employerId}(jobId=${jobPost.jobId}, employerId=${jobPost.employer.employerId})}" method="get">
                                        <button type="submit" class="buttonSmall">Edit</button>
                                    </form>
                                </div>

                                <!-- Delete Button -->
                                <div th:if="${loggedInEmployer != null and loggedInEmployer.employerId == jobPost.employer.employerId}">
                                    <form th:action="@{/jobposts/{jobId}/delete/byemployer(jobId=${jobPost.jobId})}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        <button type="submit" class="buttonSmall">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination Links -->
        <div>
            <a th:if="${jobPosts.hasPrevious()}"
                th:href="@{/view/jobposts(page=${jobPosts.number-1}, size=${jobPosts.size})}">Previous</a>

            <span th:text="${jobPosts.number+1}">1</span> /
            <span th:text="${jobPosts.totalPages}">Total Pages</span>

            <a th:if="${jobPosts.hasNext()}"
                th:href="@{/view/jobposts(page=${jobPosts.number+1}, size=${jobPosts.size})}">Next</a>
        </div>

    </div>
</body>
</html>
