<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/navbar-footer.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
	<script th:src="@{/js/navbar.js}" defer></script>

</head>
<body>
    <!-- Navigation Bar -->
    <header th:replace="~{fragments/nav :: nav}"></header>
    
    <div class="mainContainer">
        <div class="headtitle">
            <h2>Welcome Back!!</h2>
            <h4>Please Log in to Continue</h4>
        </div>
        
        <div class="formtable">
            <form th:action="@{/login}" method="post" class="form-register">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Your Email" th:value="${username}">
                    <p th:if="${error?.username != null}"><span th:text="${error.username}" class="error"></span></p>
                </div>

				<div class="form-group" style="display: flex; align-items: center;">
				    <input type="password" id="password" name="password" placeholder="Enter your Password" th:value="${password}">
				    <button type="button" id="togglePassword" class="passButton" style="color: blue; margin-left: 10px;">Show</button>
				    <p th:if="${error?.password != null}"><span th:text="${error.password}" class="error"></span></p>
				</div>


                <div class="form-group">
                    <p id="message" class="error" th:text="${errorMessage}"></p>
                </div>
                
                <div class="spacebetn">
                    <div class="form-group">
                        <input type="checkbox" id="rememberMe" name="rememberMe" checked>
                        <label for="rememberMe">Remember me</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" id="loginButton">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script th:src="@{/js/login.js}"></script>
</body>
</html>
